body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  color: #000;
  margin: 0;
  padding: 0;
}

.colored-background {
  background-color:#292929;
}


.container {
  max-width: 90%;
  margin: auto;
  overflow: hidden;
}

.container h4 {
  text-align: center;
  margin: 0;
}

nav {
  width: 100%;
  min-height: 50px;
  /* border-bottom: 1px solid #C4C4C4; */
  position: fixed;
  background: #333;
  transition: 0.35s all ease;
  padding: 2rem;
}

nav ul {
  float: right;
  margin: 0;
  padding-top: 15px;
}

#main-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

nav li {
  list-style: none;
  display: inline;
  padding-right: 15px;
  font-size: 16px;
}

nav a {
  text-transform: uppercase;
}

li a {
  color: #fff;
  text-decoration: none;
}

.colored-ul {
  /* width: 600px; */

  list-style: none;
  padding-left: 0;
  text-align: center;
}

.colored-ul li {
  background: #292929;
  padding: 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid #3c3c3c;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 20px;
}

.white-ul {
  /* width: 600px; */

  list-style: none;
  padding-left: 0;
  text-align: center;
}

.white-ul li {
  background: #0066cc;
  padding: 10px;
  border-bottom: 1px solid #0055a4;
  border-top: 1px solid #0066cc;
  text-align: center;
  border-radius: 2px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.colored2-ul {
  /* width: 600px; */

  list-style: none;
  padding-left: 0;
  text-align: center;
}

.colored2-ul li {
  background: #008000;
  padding: 10px;
  
  text-align: center;
  margin-bottom: 10px;
  border-radius: 20px;
}

a:hover {
  font-size: 1.1em;
}

#showcase {
  min-height: 100vh;
  background-image: url("images/code.jpg");
  background-size: cover;
  background-position: center;

  /*this method make the image zooms in*/
  background-attachment: fixed;
  /*width:100%;
  position: fixed;*/
}

/* nav img {
  background: none;
  width: 120px;
} */

#showcase p {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 550px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  line-height: 1.2em;
}

.white {
  background-color: #fff;
  padding: 100px 60px;
}
.colored {
  /*background-color:#264356;*/
  /* background-color: #101010; */
  background-color: #292929;
  color: #fff;
  padding: 100px 60px;
}



.wrapper-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-gap: 2rem;
  grid-auto-rows: minmax(100px, auto);
}


footer {
  /* min-height: 781px; */
  background: #292929;
  color: #fff;
}

h3 {
  line-height: 1.2em;
  text-align: center;
  font-size: 30px;
  margin: 15px 0px;
  
}


/* footer p {
  padding-top: 420px;
  text-align: center;
} */

footer ul {
  padding: 0 20px;
  margin-top: 100px;
  min-height: 200px;
  line-height: 1.2em;
  background-color: #f4f4f4;
  color: #000;
  text-align: center;
  border-radius: 25px;
}
footer li {
  list-style: none;
  padding-bottom: 10px;
  font-size: 16px;
}

/* footer #section1 {
  margin-left: 10%;
  float: left;
  width: 40%;
}
footer #section2 {
  float: right;
  width: 40%;
} */

/* footer img {
  padding-top: 50px;
  padding-bottom: 50px;

  display: block;
  margin: auto;
  width: 300px;
} */

.wrapper {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: minmax(100px, auto);
}

/* .syllabus {
  grid-column: 1/1;
}

.projects {
  grid-column: 2/5;
}

.sample-code {
  grid-column: 1/5;
}

.resources {
  grid-column: 1/5;
} */

@media (max-width: 768px) {
  /*Main Nav*/
  nav ul,
  nav {

    width: 100%;
    text-align: center;
    line-height: 1.2em;
  }
  nav ul {
    padding-left: 0;
  }

